version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 1
    open-pull-requests-limit: 10
    commit-message:
      prefix: "build"
      include: "scope"
    groups:
      react:
        patterns:
          - "@types/react"
          - "@types/react-dom"
          - "react"
          - "react-dom"
      vite:
        patterns:
          - "@vitejs/*"
          - "vite"
      vite-pwa:
        patterns:
          - "@vite-pwa/*"
          - "vite-plugin-pwa"
      vitest:
        patterns:
          - "@vitest/*"
          - "vitest"
          - "vitest-browser-react"
      tailwindcss:
        patterns:
          - "@tailwindcss/*"
          - "tailwindcss"
          - "prettier-plugin-tailwindcss"
      eslint-and-prettier:
        patterns:
          - "@eslint/*"
          - "eslint"
          - "eslint-config-prettier"
          - "eslint-plugin-react-*"
          - "prettier"
          - "typescript-eslint"
    ignore:
      - dependency-name: "@takeyaqa/pict-wasm"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 1
    commit-message:
      prefix: "ci"
      include: "scope"
